* {
    font-family: "arial";
    font-size: 10pt;
    color: #0598A8;
}

/* Login window styles */
#login-background {
    background: url("resources/images/login_bg.jpg");
}

#side-lbl {
    background: #0598A8;
}

#side-lbl QLabel {
    color: #f1f1f1;
}

#brand-name {
    font-size: 22pt;
    font-family: "Casandra Light";
    font-weight: 200;
}
/* End of login window styles */

/*
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////// DEFAULT WIDGET STYLES ////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

* {
    padding: 0;
    margin: 0;
    font-family: "arial";
    font-size: 11pt;
    color: #5CFCFC;
}

QWidget {
    background-color: rgba(0, 0, 0, 0); /* All widgets have a transparent backgroud unless manually set */
}

QMainWindow {
    background-color: #058F9E;
}

QAbstractItemView {
    background-color: #0598A8;
    border-radius: 4px;
}

QLineEdit, QDateTimeEdit, QComboBox, QSpinBox, QDoubleSpinBox, QGroupBox {
    border-radius: 4px;
    border: 1px solid #4ACCCC;
    padding: 5px;
}

QHeaderView {
    show-decoration-selected: none;
}


/*
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////// CUSTOM WIDGETS STYLES /////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

#header {
    border-radius: 7px;
    background-color: #0598A8;
}

#title {
    font-size: 13pt;
    color: #58F2F2;
}

#menu {
    background-color: #04818F;
    border: none;
}

#menu QToolButton {
    width: 200px;
    color: #84C9FB;
}

QPushButton{
    selection-color: red;
    show-decoration-selected: false;
    selection-background-color: red;
}